@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
/* 500, 700 */

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--medium-gray);
}

body,
button {
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border: none;
}

body {
  background-color: var(--almost-white);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 1rem;
  margin: 0 1rem;
}

.hero-image-mobile {
  width: 100vw;
}

.navbar {
  float: top;
  display: flex;
  width: 100vw;
  padding: 1.5rem 1rem;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  text-align: center;
}

h1.header {
  font-size: 2.1rem;
  color: var(--almost-black);
  padding: 1.5rem 0 1rem;
}

p.subheader {
  font-size: 1rem;
  color: var(--medium-gray);
}

button.button {
  background-color: var(--almost-black);
  color: var(--almost-white);
  border-radius: 0.9rem;
  border: none;
  font-size: 0.9rem;
  padding: 14px 23px;
  margin: 1rem 0 2rem;
}

.clients {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-around;
}

.client-img {
  max-width: 4rem;
  max-height: 1.4rem;
}

.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: visibility 100ms, opacity 100ms linear;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--almost-white);
  width: 65%;
}

.shadow {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: visibility 100ms, opacity 100ms, linear;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0);
}

.close-button {
  background-color: transparent;
  align-self: flex-end;
  padding: 1rem 1rem;
}

.menu-items {
  list-style: none;
  padding-top: 1rem;
  font-size: 0.9rem;
  color: var(--medium-gray);
}

.menu-item {
  padding: 0 0 1.5rem 1rem;
}

.btn-login {
  background-color: var(--almost-white);
  color: var(--medium-gray);
  font-size: 0.9rem;
  padding: 1rem;
}

.btn-register {
  background-color: var(--almost-white);
  color: var(--medium-gray);
  font-size: 0.9rem;
  padding: 0.8rem;
  border: 1px solid var(--medium-gray);
  border-radius: 1rem;
  margin: 0 1rem;
}

.dropdown {
  list-style: none;
  display: none;
}

#features {
  display: none;
}
